body{
			background-color: black;
			color: white;
			font-family: Comic Sans MS;
			margin-left: 25%;
}
.menu_bottom{
			font-size: 21px;
			background: white;
			padding: 10px;
			margin: 26px;
			color: black;
			width: 170px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-style: solid;
			border-width: 2px;
			border-radius: 10px;
			border-color: black;
}
.menu_bottom:hover{
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			font-size: 21px;
			font-weight: bold;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(93, 0, 33, 1));
			color: white;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			padding: 10px;
}
.menu_bottom:active{
      		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			outline: none;
			font-size: 21px;
			font-weight: bold;
			background-color: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(93, 0, 33, 1));
			color: white;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			padding: 10px;
}
.news{
    		width: 1000px;
			margin: 30px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
}
#nav{
			position: fixed;
			width: 20%;
			float: left;
			top: 0px;
			left: 0px;
			height: 100%;
			background: rgba(255, 255, 255, 0.7);
			z-index: 10;
}
#footer{

    		width: 1000px;
			font-size: 10px;
			background-color: white;
			color: black;
			padding: 5px;
			margin-top:30px;
}
.vzlom{

			background: black;
			margin: 50px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
			height: 250px;
			width: 800px;
			overflow: auto;
}
.blackA{
			text-decoration: none;
			margin-bottom: 30px;
			color: white;
			position: relative;
			display: inline-block;
			text-align: center;
			background: linear-gradient(0deg, gray, black);
			padding: 10px;
			border-style: solid;
			border-width: 5px;
			border-radius: 5px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
			left: 30px;
			top: 20px;
}
.blackP{
			padding-left: 150px;
}
.img{
			position: absolute;
			margin-top: 100px;
			margin-left: 30px;
			margin-bottom: 20px;
			border-style: solid;
			border-width: 5px;
			border-radius: 5px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
}
#img{
    width: 70%;
    height: 70%;
    
}
.school_bottom{
			text-decoration: none;
			text-align: center;
			color: white;
			padding: 10px;
			/*
			border-style: solid;
			border-width: 5px;
			border-radius: 5px;
			border-color: white;
			box-shadow: 0px 0px 10px white;*/
}
.school_bottom:active{
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: white;
			padding: 10px;
}
.school_bottom:hover{
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: black;
			background: white;
			padding: 10px;
}
.vzlomschool{
	
			background: black;
			width: 150px;
			margin: 30px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
}
.vzlomschool:hover{
			background: white;
			width: 150px;
			margin: 30px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
}
