body{
			background-color: black;
			color: white;
			font-family: Comic Sans MS;
			margin-left: 25%;
}
menu{
	position: fixed;
	z-index: 1000;
	width: 17%;
	height: 85%;
	background-color: black;
	margin-left: -21%;
	margin-top: 4%;
}
#ad{

	position: fixed;
	z-index: 999;
	width: 15%;
	height: 600px;
	margin-left: -20%;
	margin-top: 5%;
	padding-top: 3%;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-radius: 2px;
	border-color: white;
	box-shadow: 0px 0px 10px white;
}
#burger{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 9;
	margin-left: -15%;
}
.menu_bottom{
			font-size: 21px;
			background: white;
			padding: 10px;
			margin: 26px;
			margin-left: -10%;
			color: black;
			width: 170px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-style: solid;
			border-width: 2px;
			border-radius: 10px;
			border-color: black;
}
.menu_bottom:hover{
			margin-left: -26px;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			font-size: 21px;
			font-weight: bold;
			background: black;
			color: white;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			padding: 10px;
}
.menu_bottom:active{
			margin-left: -26px;
      		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			outline: none;
			font-size: 21px;
			font-weight: bold;
			background-color: black;
			color: white;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			padding: 10px;
}
.news{
    		width: 1000px;
			margin: 30px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
			 
}
.active_menu{
			position: fixed;
			width: 20%;
			float: left;
			top: 0px;
			left: 0px;
			height: 100%;
			background: rgba(255, 255, 255, 0.7);
			z-index: 10;
			 
}
#footer{

    		width: 1000px;
			font-size: 10px;
			background-color: white;
			color: black;
			padding: 5px;
			margin-top:30px;
			 
}
.vzlom{

			background: black;
			margin: 50px;
			padding: 5px;
			border-style: solid;
			border-width: 5px;
			border-radius: 2px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
			height: 250px;
			width: 800px;
			overflow: auto;
			display: flex;
			 
}
.blackA{
			text-decoration: none;
			margin-bottom: 30px;
			color: white;
			position: absolute;
			display: inline-block;
			text-align: center;
			background: linear-gradient(0deg, gray, black);
			padding: 7px;
			border-style: solid;
			border-width: 5px;
			border-radius: 5px;
			border-color: white;
			 
			box-shadow: 0px 0px 10px white;
			margin-left: 30px;
			margin-top: 150px;
}
.blackP{
			 
			margin-left: 30px;
			width: 750;
}
.img{
			 
			/*position: absolute;*/
			margin-top: 30px;
			margin-left: 30px;
			border-style: solid;
			border-width: 5px;
			border-radius: 5px;
			border-color: white;
			box-shadow: 0px 0px 10px white;
}
#img{
	 
    width: 70%;
    height: 70%;
    
}
.school_bottom{
			 
			text-decoration: none;
			text-align: center;
			color: black;
			background-color: white;
			padding: 10px;
			border-radius: 20px;
}
.school_bottom:active{
			 
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: black;
			background-color: white;
			padding: 10px;
			border-radius: 20px;
}
.school_bottom:hover{
			 
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: black;
			background: white;
			padding: 10px;
			border-radius: 20px;
}
.vzlomschool{
			 
			margin: 30px;
			padding: 5px;
}
.vzlomschool:hover{

			margin: 30px;
			padding: 5px;
}
@media(max-width: 767px){
	#burger{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 9;
	margin-left: -5%;
}
#m0id{
	margin-left: 100%;
}
menu{
	position: fixed;
	z-index: 1000;
	width: 17%;
	height: 85%;
	background-color: black;
	margin-left: ;
	margin-top: 4%;
}
}